            .hd{
                text-align: center;
                padding-top: 5px;
            }

            .exact{
                padding-left: 6%;
            }

            .exact h1{
                font-size: 40px;
            }

            .exact img{
                height: 180px;
                width: 174px;
                position: relative;
                float: right;
                margin-right: 8%;
                margin-top: -13%;
                box-shadow: 0 0 10px;
            }

            #ed:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }

            #sk:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }
            
            .edu{
                margin-top: -20px;
                padding-left: 6%;
                padding-right: 6%;
            }

            #ex:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }

            #pj:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }

            .content a i{
                text-decoration: none;
                color: black;
                opacity: 0.5;
            }

            .content a i:hover{
                font-size: large;
                transition: 0.2s;
            }

            .content b{
                font-size: 20px;
            }

            .content li a{
                text-decoration: none;
                color: black;
            }

            .content li a:hover{
                color: #0d3840;
            }

            #ce:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }

            #hb:hover{
                border-width: 10px;
                background-color: #0d3840;
                color: aliceblue;
                box-shadow: 0 0 10px;
                transition: 0.4s;
                cursor: pointer;
            }

            
            .content{
                border-style:hidden;
                border-radius: 4px;
                margin: 20px;
                box-shadow: 0 0 10px;
            }


            #clg1{
                text-align: center;
                border-style:hidden; 
                box-shadow: 0 0 3px;
            }

            #clg2{
                text-align: center;
                border-style:hidden; 
                box-shadow: 0 0 3px;
            }

            #clg3{
                text-align: center;
                border-style:hidden; 
                box-shadow: 0 0 3px;
                
            }

            #name{
                color:#0d3840;
            }

            .tab{
                border-style: hidden;
                text-align: center;
                padding-left: 6%;
                column-width: 100%;
            }

            table{
                text-align: center;

            }

            table tr td{
                padding-right: 50px;

            }

            .edu i{
                text-decoration: none;
                color: blue;
            }

            a{
                text-decoration: none;
                color: blue;
            }

            ::-webkit-scrollbar{
                width: 10px;
            }

            ::-webkit-scrollbar-track{
                background: transparent;
            }

            ::-webkit-scrollbar-thumb{
                background: linear-gradient(#ffffff,#0d3840);
                border-radius: 10px;
                
            }

            body {
                background-color: #ffffff;
                color: #000;
                transition: background-color 0.3s, color 0.3s;
            }
            
            
            button {
                padding: 10px 20px;
                font-size: 16px;
                cursor: pointer;
                background: transparent;
                color: #000;
                border: none;
                border-radius: 5px;
                transition: background-color 0.3s;
                font-family: 'Times New Roman', Times, serif;
            }
            
            button:hover {
                background-color: #0d3840;
                color: white;
            }
            
            .dark-mode {
                background-color: #2b2b2b;
                color: #fff;
            }

            .dark-mode #name{
                color: white;
            }
            
            .dark-mode button {
                background: transparent;
                color: #fff;
            }

            .dark-mode table tr{
                color: white;
            }
            
            .dark-mode .content ul li a{
                color: #fff;
            }

            .dark-mode .content ul li a:hover{
                color:#0d3840;
                transition: 0.4s;
            }

            .dark-mode button:hover {
                background-color: #777;
            }